<%inherit file="/base/index.html"/>

<%def name="title()">Commnet</%def>
<%def name="heading()"><h1>Comment</h1></%def>

${c.comment.content}
<p><em>Posted by ${c.comment.name} on ${c.comment.created.strftime('%c')}.</em></p>

<p><a href="${h.url_for(controller='page', action='view', id=c.comment.pageid)}">Visit the page this comment was posted on.</a></p>
<%def name="footer()">
## add our comment link
<p><a href="${h.url_for(pageid=c.page.id, controller='comment', action='edit', id=c.comment.id)}">edit comment.</a>
|<a href="${h.url_for(pageid=c.page.id, controller='comment', action='delete', id=c.comment.id)}">delete comment.</a></p>
</%def>


